<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>

  <body class="bg-[#0f0f0f]">
    <div class="h-screen w-full">
      <%- include('partials/header') %> <%-
      include('partials/pages/frontpage')%> <%-
      include('partials/pages/aboutme') %>
      <%-include('partials/pages/certificados') %>
      <%-include('partials/pages/education') %> <%-
      include('partials/pages/habilidades') %> <%-
      include('partials/pages/projetos') %> <%-
      include('partials/pages/contato') %> <%- include('partials/footer') %>
    </div>
  </body>
</html>
